.cards {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
  padding: 0;
  list-style-type: none;
  margin-top: 51px;
  margin-bottom: 67px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center/contain no-repeat;
  width: 18px;
  height: 21px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.card__text {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}
