.footer {
  max-width: 880px;
  width: 100%;
}

.footer__info {
  font-family: Inter, sans-serif;
  font-size: 18px;
  color: #545454;
  font-weight: 400;
  text-align: left;
  line-height: 18px;
}

@media screen and (max-width: 330px) {
  .footer {
    margin-left: 19px;
    max-width: 200px;
    margin-right: 0;
    padding-left: 0;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 1.5;
  }
}
